@import './bootstrap.scss';

html {
  height: 100%;
}
body {
  background-color: #e1c396;
}
#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar__container {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(141, 28, 61, 1) 39%);
}

.logo__container {
  width: 50%;
}
.logo {
  width: 100%;
}

//NAVIGATION
#dropdown__title {
  color: $secondary !important;
}
//HOME
.home__fixtureComponent--container {
  padding-bottom: 2rem;
}

//QATAR
.qatar__showMore--btn {
  padding-bottom: 2rem;
}
//FINALS
.finals__matches--container {
  row-gap: 2rem;
}
//PLAYER
.player__container--content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.player__card--container {
  background-color: rgba(255, 255, 255, 0.694);
  padding: 1.5rem;
  border-radius: 2rem;
  img {
    width: 100%;
    padding-bottom: 0.75rem;
    max-width: 18rem;
  }
  ul {
    list-style-type: none;
    max-width: 18rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
}
//NEWS COMPONENT
.news__container {
  row-gap: 1.5rem;
}
.news__title {
  &:hover {
    color: red;
  }
}
//FIXTURE COMPONENT
.fixture__container {
  padding: 1rem 0 2rem;
  row-gap: 2rem;
  justify-content: center;
}
.fixture__container--match {
  height: 100%;
}
.fixture__match {
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
}
.fixture__country--img {
  width: 1.2rem;
  height: 1rem;
}
.fixture__match--scorers {
  list-style: none;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1rem;
  background-image: url('https://cdn-icons-png.flaticon.com/512/53/53283.png');
  p {
    margin-left: 1.2rem;
  }
}
//GROUPTABLE COMPONENT
.groups__container {
  row-gap: 2rem;
  padding-bottom: 3rem;
}
.groupsTable__nav--underline {
  border-bottom: 1px solid black;
}

@include media-breakpoint-up(sm) {
  .logo {
    max-width: 12rem;
  }
}
