@import './bootstrap.scss';

.logo__container {
  width: 50%;
}
.logo {
  width: 50%;
}

//HOME
.home__fixtureComponent--container {
  padding-bottom: 2rem;
}
.home__fixture--container {
  width: 100%;
}
.home__fixture--matchContainer {
  row-gap: 1rem;
  padding: 1rem 0;
  h5 {
    margin-left: 0.5rem;
  }
}
.fixture__country--img {
  width: 3rem;
  height: 2.7rem;
}

@include media-breakpoint-up(sm) {
  .logo {
    max-width: 6rem;
  }
}
