@import './bootstrap.scss';

body {
  background-color: #e1c396;
}

.navbar__container {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(141, 28, 61, 1) 39%
  );
}

.logo__container {
  width: 50%;
}
.logo {
  width: 100%;
}

//NAVIGATION
#dropdown__title {
  color: $secondary !important;
}
//HOME
.home__fixtureComponent--container {
  padding-bottom: 2rem;
}

//QATAR
.qatar__showMore--btn {
  padding-bottom: 2rem;
}
//NEWS COMPONENT
.news__container {
  row-gap: 1.5rem;
}
.news__title {
  &:hover {
    color: red;
  }
}
//FIXTURE COMPONENT
.fixture__container {
  padding: 1rem 0 2rem;
  row-gap: 2rem;
  justify-content: center;
}
.fixture__container--match {
  height: 100%;
}
.fixture__match {
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
}
.fixture__country--img {
  width: 1.2rem;
  height: 1rem;
}
.fixture__match--scorers {
  list-style: none;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1rem;
  background-image: url('https://cdn-icons-png.flaticon.com/512/53/53283.png');
  p {
    margin-left: 1.2rem;
  }
}
//GROUPTABLE COMPONENT
.groups__container {
  row-gap: 2rem;
  padding-bottom: 3rem;
}

@include media-breakpoint-up(sm) {
  .logo {
    max-width: 12rem;
  }
}
